*.log
package-lock.json
.DS_Store
.bash_history
.env
.env.*
.cache
dist/
node_modules
coverage/
api/db/*
logs/*
log.txt
config.json
_build/
uploads/
config/local*.*
test/screenshots/
.config
.local
.yarnrc
.pki