*.log
*.swp
tags
package-lock.json
.DS_Store
.bash_history
.env
.env.*
.cache
.node_repl_history
src/dist/
node_modules
src/coverage/
api/db/*
logs/*
log.txt
_build*
src/config/local*.*
src/test/screenshots/
.config
.local
.yarnrc
.pki
.vscode
.node-gyp
.idea
migrations-*
xpub.log
src/build/
