version: '3'

services:
  app:
    build:
      dockerfile: ./Dockerfile-development
    command: sh -c "yarn install --frozen-lockfile && ./scripts/wait-for-it.sh postgres:5432 -s -t 40 -- npx pubsweet server"
    volumes:
      - ./:/home/xpub
    depends_on:
      - postgres
    environment:
      NODE_ENV: development
      PGHOST: postgres
      PGUSER: $USER

  postgres:
    environment:
      POSTGRES_USER: $USER
    volumes:
      - postgres-volume:/var/lib/postgresql/data
      - ./scripts/test.sql:/docker-entrypoint-initdb.d/test.sql
      - ./build/postgres:/var/log/postgres
    command: postgres -c logging_collector=on -c log_destination=stderr -c log_directory=/var/log/postgres

volumes:
  postgres-volume:

