<!DOCTYPE html>
<html>
<head>
    <!--
        Package version: <%= htmlWebpackPlugin.options.packageVersion %>
        Git hash: <%= htmlWebpackPlugin.options.gitHash %>
        Build time: <%= htmlWebpackPlugin.options.buildTime %>
    -->
    <meta charset=utf-8>
    <script src="/config.js"></script>
    <script src="/assets/newrelic.js"></script>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="shortcut icon" type="image/svg+xml" href="/assets/elife-favicon.svg" />
</head>
<body>
<div id="root"></div>
</body>
</html>
