| Dear #{authorName},
|
| You have been randomly selected to be part of the initial group of authors given access to our brand new submission interface.
|
| Our aim is to create an application that makes the process of submitting your work to eLife as intuitive as possible and your feedback is invaluable in helping us to achieve this.
|
| Please use the link below to access your new dashboard at any time and complete your initial submission:
|
| #{linkDashboard}
|
| Best wishes,
|
| Susanna
|
| Susanna Richmond
| Senior Editorial Assistant, eLife
|
| eLife Sciences Publications, Ltd is a limited liability non-profit non-stock corporation incorporated in the State of Delaware, USA, with company number 5030732, and is registered in the UK with company number FC030576 and branch number BR015634 at the address, Westbrook Centre, Milton Road, Cambridge CB4 1YG.
