| Dear #{authorName},
|
| You have just submitted your work, "#{manuscriptTitle}", to eLife using our brand new submission interface. Our aim is to create an application that makes the process of publishing your research faster and simpler. It is a work in progress and we welcome any feedback you may have on your experience.
|
| You will hear from us again shortly once your submission has undergone our quality check process and been assigned to a Senior Editor for initial evaluation. You may be asked to continue your submission using our legacy system.
|
| Best wishes,
|
| Nicola 
|
| Nicola Adamson (Editorial Assistant)
|
| eLife Sciences Publications, Ltd is a limited liability non-profit non-stock corporation incorporated in the State of Delaware, USA, with company number 5030732, and is registered in the UK with company number FC030576 and branch number BR015634 at the address, Westbrook Centre, Milton Road, Cambridge CB4 1YG.
|
| You are receiving this email because you have been identified as the corresponding author of a submission to eLife. If this isn't you please contact editorial@elifesciences.org.
